[Unit]
PartOf=models.target

[Container]
Pod=ishak.pod
Environment=LLAMA_CACHE=/cache
Image=ghcr.io/ggml-org/llama.cpp:server-vulkan
AddDevice=/dev/dri
Volume=%h/.var/app/io.github.gmanka-containers.ishak/cache:/cache:z
Exec=-hf HauhauCS/Qwen3.8-27B-Uncensored-HauhauCS-Aggressive-MTP-GGUF \
     -hff Qwen3.8-27B-Uncensored-HauhauCS-Aggressive-Q8_K_P.gguf \
     --no-mmproj \
     --spec-type draft-mtp \
     --spec-draft-n-max 2 \
     --fit-target 768 \
     --load-mode none \
     -fa on \
     -c 262144 \
     -ctk q8_0 \
     -ctv q8_0 \
     -np 1 \
     --reasoning on \
     -t 12 \
     --cache-ram -1 \
     --ui-mcp-proxy

[Service]
ExecStartPre=mkdir -p %h/.var/app/io.github.gmanka-containers.ishak/cache
Restart=on-failure
